#Footer{
    .footbg{
        width: 100%;
        height: 600px;
    }
    .copyright{
        color: #fff;
        position: absolute;
        z-index: 1;
        text-align: center;
        top: 50%;
        left: 35%;
    }
}